
h2 {
    padding: 1rem;
}

.horizontal-content {
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    overflow: scroll;
    height: calc(205.7px + 2rem)
}

.horizontal-content > div {
    flex: 0 0 330px;
    /* width: 330px; */
    height: 187px;
    background-color: #3f1917;
    margin: 1rem 0.5rem;
    border-radius: 3px;
}

.horizontal-content > div:hover,
.horizontal-content > div:active {
    flex: 0 0 346.5px;
    height: 205.7px;
}

.movie-bg {
    background-image: url(../img/movie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
}

.movie-bg h2 {
    color: #fff;
}

p {
    padding: 1.5rem 1rem;
    max-width: 70ch;
}